.App {
  text-align: center;
  background-color: lightgray;
  border: 1px solid transparent;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.box {
  min-width: 30px;
  border: 1px solid black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form {
  text-align: center;
  

}
.buttons {
  display: flex; 
  justify-content: center;
}
.image {
  padding-top: 50px;
  height: 300px;
}

.Logo {
  background-image: url(./component/image91.png);
  height: 50px;
}

.Header {
  color: purple;
  background-color: grey;
  height: 40px;
  font-size: 2em;
  padding-bottom: 70px;
  padding-top: 10px;
}
.Footer {
  padding-top: 45px;
  padding-bottom: 35px;
  background-color: lightgrey;
}

.counter {
  background-color: grey;
  padding-bottom: 15px;
  font-weight: bold;
}